.span3.stretch-container
  #dashboard-sidebar.paper-container
    #dashboard-user.dashboard-section
      #dashboard-user-left
        = image_tag current_user.gravatar_url
      #dashboard-user-right
        %h1#dashboard-username= link_to current_user.username, current_user
        %p= "#{current_user.owned_tags.count} tags"
    #dashboard-nav.dashboard-section
      %hr
      %ul.nav.nav-list
        %li
          %a{href: root_path}
            %i.icon-big-home
            Home
        %li
          %a{href: dashboard_notes_path}
            %i.icon-big-notes
            My Notes
        %li
          %a{href: root_path}
            %i.icon-big-tags
            My Tags
        %li
          %a{href: root_path}
            %i.icon-big-eye-open
            Explore