#dashboard.row
  = render 'sidebar'
  .span9.stretch-container
    #dashboard-main
      #dashboard-note-list
        - @notes.each do |note|
          = render 'note', note: note
        = will_paginate @notes, class: 'pagination pagination-centered'
