= f.text_field :title, placeholder: 'Untitled', class: 'fluid-input'
= f.collection_select :label_id, current_user.labels, :id, :name, {include_blank: 'No Label'}, {class: 'fluid-input'}
= f.text_area  :content, placeholder: 'Content', size: '30x23', class: 'fluid-input'