= f.text_field :title, placeholder: 'Untitled', class: 'span12'
= f.text_field :tag_list, placeholder: 'Tags, Ex: work, school, todos', class: 'span12'
= f.text_area  :content, placeholder: 'Content', size: '30x20', class: 'span12'