= f.text_field :title, placeholder: 'Untitled', class: 'fluid-input'
= f.text_field :tag_list, placeholder: 'Tags, Ex: work, school, todos', class: 'fluid-input'
= f.text_area  :content, placeholder: 'Content', size: '30x23', class: 'fluid-input'