html {
  background: #eee;
}

body {
  font-family: adelle, "Helvetica Neue", sans-serif;
}

p {
  margin-left: 20px;
  margin-bottom: 10px;
}

pre {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px dotted #CCC;
  background: #EEE;
}

pre code {
  border: none;
  color: #000;
}

code {
  background: #EEE;
  border: 1px dotted #CCC;
  color: #d14;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}

ul {
  list-style-type: circle;
}
li {
  margin-left: 20px;
}

.light {
  color: #ccc;
}
.indent1 {
  margin-left: 20px;
}
.indent2 {
  margin-left: 40px;
}

.note-header {
  text-align: right;
  margin-bottom: 150px;
}

.note-header hgroup {
  margin-bottom: 10px;
  float: right;
}
.note-header ul {
  float: left;
  text-align: left;
  margin-top: 5px;
}

#main-container {
  margin: 20px auto;
  padding: 20px;
  width: 800px;
  background: #fff;
  border: 1px solid #AAA;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}

.area {
  margin-bottom: 20px;
}
.area span {
  float: right;
  color: #CCC;
}

.title {
  margin-bottom: 10px;
  border-bottom: 1px solid #BBB;
}

@media print {
  body {
    background-color: #FFF;
  }

  #main-container {
    border: none;
    box-shadow: none;
  }
}
