#welcome
  #welcome-header
    %h1 Welcome to Noteorious
    %h2 A simple way to create and share notes
    = image_tag '/assets/noteorious-screenshot.png'
  #welcome-content
    %h3 Features
    %ul
      %li A simple and easy to use interface
      %li Markdown support
      %li Realtime preview of notes