<!DOCTYPE html>
<html>
<head>
  <title>NoteApp</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" type="text/css" href="/css/undistracted.css", media="all">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container">
    <%= yield %>
  </div>
<%= javascript_include_tag "application" %>
</body>
</html>